* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #15730c;
}

main {
    background-color: white;
    margin: auto;
    width: 75%;
    box-shadow: 2px 2px 5px #333;
}

header {
    padding: 20px;
    padding-left: 30px;
    background-color: rgb(4, 51, 4);
    color: #fff;
}

header h1 {
    font-size: 25px;
}

article {
    padding: 20px;
}

article h2 {
    color: rgb(4, 51, 4);
    font-size: 20px;
}

article p {
    font-size: 15px;
    text-align: justify;
}

article img {
    margin: 15px auto;
}